<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ABOUT ME</ion-title>
  </ion-toolbar>
 </ion-header>

 <ion-content>
  <ion-card>
    <ion-thumbnail slot="start">
        <ion-img width=100 src="assets/profile_picture.jpg"></ion-img>
      </ion-thumbnail>
    <ion-card-header>
      <ion-card-title>A quick presentation of me</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Hello, my name is Léo Le Diouron. I'm a 4th year student in the programming school <i>Epitech</i>, and I'm currently
      in exchange student in Finland, in <i>Laurea University of Applied Sciences.</i>
    </ion-card-content>
  </ion-card>

</ion-content>
