<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>SKILLS</ion-title>
  </ion-toolbar>
 </ion-header>

 <ion-content>
  <ion-list>
    <ion-list-header>All my skills in programming</ion-list-header>
    <ion-card *ngFor ="let skill of this.skills">
        <ion-card-header>
          <ion-card-subtitle>{{skill.status}}</ion-card-subtitle>
          <ion-card-title>{{skill.title}}</ion-card-title>
        </ion-card-header>
      </ion-card>
  </ion-list>
</ion-content>
