<ion-header>
  <ion-toolbar>
    <ion-title>Léo Le Diouron CV - LOGIN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-label>username :</ion-label> <ion-input [(ngModel)]="username" placeholder="leo"></ion-input>
    <ion-label>password</ion-label> <ion-input [(ngModel)]="password" type="password"></ion-input>
    <ion-button color="primary" (click) ="login()">Login</ion-button>
  </ion-card>
  <ion-card>
    <ion-label>Not already registered ?   </ion-label>
    <ion-button color="secondary" (click) ="registerForm()">Register</ion-button>
  </ion-card>
</ion-content>
