<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>CONTACT</ion-title>
  </ion-toolbar>
 </ion-header>

 <ion-content>
  <ion-list>
    <ion-item>
      <ion-icon name="mail" slot="start"></ion-icon> leo.lediouron.pro@gmail.com
    </ion-item>
    <ion-item>
      <ion-icon name="call" slot="start"></ion-icon> +33 6 37 81 27 33
    </ion-item>
    <ion-item>
      <ion-icon name="globe" slot="start"></ion-icon> www.linkedin.com/in/léo-le-diouron-744477149
    </ion-item>
    <ion-item>
      <ion-icon name="code" slot="start"></ion-icon> https://github.com/LeoLeDiouron
    </ion-item>
  </ion-list>
</ion-content>
