<ion-content>
  <ion-slides pager style="height: 100%;">

    <!-- This is first slider -->
    <ion-slide style="background-color: #121863;">
      <h1 style="color: #ebebeb">Welcome on my CV app !</h1>
    </ion-slide>

    <!-- This is second slider -->
    <ion-slide style="background-color: #121863;">
      <h1 style="color: #ebebeb">You will find my skills and experiences</h1>
    </ion-slide>

    <!-- This is third slider -->
    <ion-slide style="background-color: #121863;">
      <h1 style="color: #ebebeb">Start now !</h1>
      <div style="position:absolute; bottom:120px; text-align:center; z-index:1000; width:100%;">
        <ion-button [routerLink]="['/login']">Let's go</ion-button>
      </div>
    </ion-slide>
    
  </ion-slides>
</ion-content>
    